<h1>{{ data.title }}</h1>
<section>
    <app-carousel [images]="data.images"></app-carousel>
    <div class="cart-actions">
        <div class="price">
            <span *ngIf="itemInCart$ | async; else price">
                Item Already in Cart
            </span>
            <ng-template #price>
                <span>
                    Price: {{ data.price*quantity | currency }}
                </span>
            </ng-template>
        </div>
        <span class="spacer"></span>
        <ng-container *ngIf="itemInCart$ | async; else addtocart">
            <button class="cart-btn" (click)="openMiniCart()">Goto Cart</button>
        </ng-container>
        <ng-template #addtocart>
            <span class="quantity">
                <button class="qty-sub-btn" (click)="decreaseQty()">-</button>
                {{ quantity }}
                <button class="qty-add-btn" (click)="increaseQty()">+</button>
            </span>
            <span>
                <button class="cart-btn" (click)="addToCart(data.id, quantity, data.title, data.price, data.images[0])">Add to Cart</button>
            </span>
        </ng-template>
    </div>
</section>
<p>{{ data.shortDesc }}</p>
<article>
    <img [src]="data.fullDesc.mainImage" alt="" width="100%">
    <h2>{{ data.fullDesc.title }}</h2>
    <ng-container *ngFor="let paragraph of data.fullDesc.detailParagraphs">
        <p>{{ paragraph }}</p>
    </ng-container>
    <div class="features-list" *ngFor="let feature of data.fullDesc.featuresList; trackBy: featureById">
        <app-product-feature [featureData]="feature"></app-product-feature>
    </div>
</article>